button {
  color: white;
  background-color: rgb(129, 129, 129);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}
.red {
  background-color: tomato;
}
.blue {
  background-color: cornflowerblue;
}
.pink {
  background-color: pink;
}
